<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="igus_rebel">

	<xacro:arg name="use_dummy" default="false" />

	<!-- TODO: add meshes, mount v2 and end effector tip link for the Soft gripper -->

	<joint name="soft_gripper_joint" type="fixed">
		<parent link="flange" />
		<child link="soft_gripper_link" />
		<origin xyz="0 0 0" rpy="0 0 0" />
	</joint>

	<link name="soft_gripper_link">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh
					filename="package://igus_rebel_description_ros2/meshes/mounts/soft_gripper.stl" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh
					filename="package://igus_rebel_description_ros2/meshes/mounts/soft_gripper.stl" />
			</geometry>
		</collision>
		<inertial>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<mass value="0.1" />
			<inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001" />
		</inertial>
	</link>

	<!-- Import gripper ros2_control description -->
	<xacro:include
		filename="$(find igus_rebel_description_ros2)/urdf/end_effectors/soft_gripper.control.xacro" />
	<xacro:igus_rebel_control use_dummy="$(arg use_dummy)" />

</robot>