<?xml version="1.0"?>
<robot name="oak_d_pro_camera" xmlns:xacro="http://ros.org/wiki/xacro">

	<!-- Macro for inertial box -->
	<xacro:macro name="inertial_box" params="mass x y z *origin">
		<inertial>
			<xacro:insert_block name="origin" />
			<mass value="${mass}" />
			<inertia ixx="${(1/12) * mass * (y*y+z*z)}" ixy="0.0" ixz="0.0"
				iyy="${(1/12) * mass * (x*x+z*z)}" iyz="0.0"
				izz="${(1/12) * mass * (x*x+y*y)}" />
		</inertial>
	</xacro:macro>


	<!-- Macro for Oak D Pro camera -->
	<xacro:macro name="oak_d_pro_camera">

		<xacro:property name="oakd_length" value="0.0803" />
		<xacro:property name="oakd_width" value="0.0957" />
		<xacro:property name="oakd_depth" value="0.1267" />
		<xacro:property name="oakd_mass" value="0.15" />

		<joint name="camera_insert_to_oak_d_pro_camera" type="fixed">
			<parent link="camera_insert" />
			<child link="camera_link" />
			<origin xyz="0.03 0.005 0.0155" rpy="0 0 0" />
		</joint>

		<link name="camera_link">
			<visual>
				<geometry>
					<mesh
						filename="file://$(find igus_rebel_description_ros2)/meshes/cameras/oak_d_pro_camera.dae" />
				</geometry>
			</visual>
			<collision>
				<origin rpy="0 0 0" xyz="0 0 0" />
				<geometry>
					<box size="${oakd_length} ${oakd_width} ${oakd_depth}" />
				</geometry>
			</collision>
			<xacro:inertial_box mass="${oakd_mass}" x="${oakd_length}" y="${oakd_width}"
				z="${oakd_depth}">
				<origin xyz="0.0 0 0.0" rpy="0 0 0" />
			</xacro:inertial_box>
		</link>

	</xacro:macro>

</robot>