<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="igus_rebel">

	<!-- Gazebo version -->
	<xacro:arg name="load_gazebo" default="false" />

	<!-- Controller settings, only enable a single one in the launch file -->
	<xacro:arg name="hardware_protocol" default="simulation" />

	<!-- Argument that tells if Moveit2 is used or not -->
	<xacro:arg name="moveit" default="false" />

	<!-- Set both at 0.0 if collapsing is not interested in gazebo -->
	<xacro:property name="damping" value="0.0" />
	<xacro:property name="friction" value="0.0" />

    <xacro:if value="$(arg load_gazebo)">
        <link name="world" />
        <joint name="world_joint" type="fixed">
            <parent link="world" />
            <child link="base_link" />
        </joint>
    </xacro:if>

	<link name="base_link" />
	<joint name="base_link_to_igus_rebel" type="fixed">
		<parent link="base_link" />
		<child link="igus_rebel_base_link" />
		<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
	</joint>


	<!-- load igus rebel with camera gripper and castle -->
	<xacro:include
		filename="$(find igus_rebel_description_ros2)/urdf/igus_rebel/igus_rebel.urdf.xacro" />
	<xacro:igus_rebel
		hardware_protocol="$(arg hardware_protocol)"
		load_gazebo="$(arg load_gazebo)" moveit="$(arg moveit)" />

</robot>