<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="grippers">

	<!-- Template file for configuring grippers on the robot manipulator -->

	<material name="dark_green">
		<color rgba="${5/255.0} ${100/255.0} ${5/255.0} 1.000" />
	</material>

	<xacro:macro name="gripper" params="gripper_type">
		<xacro:if value="${gripper_type == 'camera'}">

			<!-- links the flange on the last joint to the gripper mount -->
			<joint name="flange_to_mount" type="fixed">
				<parent link="flange" />
				<child link="camera_mount" />
				<origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0" />
				<axis xyz="0 0 0" />
			</joint>

			<!-- camera mount urdf produced with fusion 360 urdf converter plugin-->
			<link name="camera_mount">
				<inertial>
					<origin xyz="-0.01802331112330381 -0.0023580203613042293 0.03423412904225139" rpy="0 0 0" />
					<mass value="1.0033" />
					<inertia ixx="0.001725" iyy="0.00146" izz="0.000623" ixy="-2.3e-05" iyz="0.000102" ixz="0.000224" />
				</inertial>
				<visual>
					<origin xyz="0.008 0 0" rpy="0 0 ${pi}" />
					<geometry>
						<mesh filename="file://$(find igus_rebel_description_ros2)/meshes/camera_mount.stl"
							scale="0.001 0.001 0.001" />
					</geometry>
					<material name="dark_green" />
				</visual>
				<collision>
					<origin xyz="0.008 0 0" rpy="0 0 ${pi}" />
					<geometry>
						<mesh filename="file://$(find igus_rebel_description_ros2)/meshes/camera_mount.stl"
							scale="0.001 0.001 0.001" />
					</geometry>
				</collision>
			</link>

			<joint name="flange_to_toucher" type="fixed">
				<parent link="flange" />
				<child link="toucher" />
				<origin rpy="0.0 0.0 0.0" xyz="0.1 0.0 0.0" /> <!-- 10 cm in front of the flange origin -->
				<axis xyz="0 0 0" />
			</joint>
			<link name="toucher" />


			<!-- positions the camera inside the structure -->
			<joint name="mount_to_cam" type="fixed">
				<parent link="camera_mount" />
				<child link="camera_insert" />
				<origin rpy="0.0 0.0 0.0" xyz="0.038 0.0 0.065" />
				<axis xyz="0 0 0" />
			</joint>

			<link name="camera_insert" />

			<!-- includes the realsense D435 ros2 description file and its collision box-->
			<xacro:arg name="use_nominal_extrinsics" default="false" />
			<xacro:arg name="add_plug" default="true" />
			<xacro:arg name="use_mesh" default="true" />
			<xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />

			<xacro:sensor_d435 parent="camera_insert" use_nominal_extrinsics="$(arg use_nominal_extrinsics)"
				add_plug="$(arg add_plug)" use_mesh="$(arg use_mesh)">
				<origin xyz="0.0 0 0" rpy="0 0 0" />
			</xacro:sensor_d435>


		</xacro:if>
	</xacro:macro>
</robot>