<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="igus_rebel">
	<xacro:macro name="igus_rebel_control" params="hardware_protocol">

		<ros2_control name="igus_rebel" type="system">
			<hardware>

				<xacro:if value="${hardware_protocol == 'mock_hardware'}">
					<plugin>mock_components/GenericSystem</plugin>
					<param name="mock_sensor_commands">true</param>
					<param name="state_following_offset">0.0</param>
				</xacro:if>

				<xacro:if value="${hardware_protocol == 'simulation'}">
					<plugin>igus_rebel_hw_controller/SimulationController</plugin>
				</xacro:if>

				<xacro:if value="${hardware_protocol == 'cri'}">
					<plugin>igus_rebel_hw_controller/RebelController</plugin>
					<!--<param name="ip">192.168.1.102</param>-->
					<!--<param name="port">3920</param>-->
				</xacro:if>

				<xacro:if value="${hardware_protocol == 'ignition'}">
					<plugin>ign_ros2_control/IgnitionSystem</plugin>
				</xacro:if>

			</hardware>

			<xacro:macro name="rebel_joint"
				params="name position_min=0 position_max=0 cri_joint_offset=0">
				<joint name="${name}">

					<!-- Position control can be optionally deployed -->
					<!--<command_interface name="position">
						<param name="min">${position_min}</param>
						<param name="max">${position_max}</param>
					</command_interface>-->

					<command_interface name="velocity">
						<param name="min">${-pi/4}</param>
						<param name="max">${pi/4}</param>
					</command_interface>

					<state_interface name="position">
						<param name="initial_value">0.0</param>
					</state_interface>
					
					<state_interface name="velocity">
						<param name="initial_value">0.0</param>
					</state_interface>

					<!-- CRI specific parameters -->
					<param name="cri_joint_offset">${cri_joint_offset}</param>
				</joint>
			</xacro:macro>

			<!-- CRI joints offset for virtual zero definition -->

			<xacro:rebel_joint name="joint1" position_min="${-pi*179/180}"
				position_max="${pi*179/180}" />
			<xacro:rebel_joint name="joint2" position_min="${-pi*2/3}" position_max="${pi*2/3}"
				cri_joint_offset="${-pi*0.8/180.0}" />
			<xacro:rebel_joint name="joint3" position_min="${-pi*2/3}" position_max="${pi*2/3}"
				cri_joint_offset="${-pi*0.5/180.0}" /> 
			<xacro:rebel_joint name="joint4" position_min="${-pi*179/180}"
				position_max="${pi*179/180}" />
			<xacro:rebel_joint name="joint5" position_min="${-pi*19/36}" position_max="${pi*19/36}" />
			<xacro:rebel_joint name="joint6" position_min="${-pi*179/180}"
				position_max="${pi*179/180}" />

		</ros2_control>

	</xacro:macro>
</robot>