<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="igus_rebel">

	<!-- Arguments -->
	<xacro:arg name="load_base" default="false" />

	<xacro:arg name="mount" default="none" />

	<xacro:arg name="camera" default="none" />

	<xacro:arg name="end_effector" default="none" />

	<!-- macro xacro definition to load mount and mobile robot base -->
	<xacro:macro name="srdf" params="mount camera end_effector load_base">

		<!--############################################################################### -->
		<!-- 				Planning Groups Definitions and End Effectors					-->
		<!--############################################################################### -->

		<!-- If mount is not placed -->
		<xacro:if value="${mount == 'none'}">

			<group name="rebel_arm">
				<chain base_link="igus_rebel_base_link" tip_link="link_8" />
			</group>

			<group name="flange_group">
				<link name="flange" />
			</group>

			<end_effector name="flange_EEF" parent_link="link_8" group="flange_group"
				parent_group="rebel_arm" />

		</xacro:if>


		<!-- If mount is placed -->
		<xacro:if value="${mount != 'none'}">

			<!-- If camera is oakd and no end effector-->
			<xacro:if value="${end_effector == 'none'}">

				<group name="rebel_arm">
					<chain base_link="igus_rebel_base_link" tip_link="flange" />
				</group>

				<end_effector name="flange_EEF" parent_link="flange"
					group="rebel_arm" />

			</xacro:if>

			<!-- If camera is realsense and toucher v1 is placed -->
			<xacro:if value="${end_effector == 'toucher_v1'}">

				<group name="rebel_arm">
					<chain base_link="igus_rebel_base_link" tip_link="toucher_endpoint" />
				</group>

				<group name="toucher_v1_group">
					<link name="toucher_v1" />
					<link name="toucher_endpoint" />
				</group>

				<end_effector name="toucher_v1_EEF" parent_link="toucher_endpoint"
					group="toucher_v1_group" parent_group="rebel_arm" />

			</xacro:if>

		</xacro:if>

		<!--############################################################################### -->
		<!-- 				Planning Groups states 											-->
		<!--############################################################################### -->

		<!-- Positions common for every configuration -->
		<group_state name="zero" group="rebel_arm">
			<joint name="joint1" value="0" />
			<joint name="joint2" value="0" />
			<joint name="joint3" value="0" />
			<joint name="joint4" value="0" />
			<joint name="joint5" value="0" />
			<joint name="joint6" value="0" />
		</group_state>

		<group_state name="home" group="rebel_arm">
			<joint name="joint1" value="0" />
			<joint name="joint2" value="${-pi/6.0}" />
			<joint name="joint3" value="${-pi/6.0}" />
			<joint name="joint4" value="0" />
			<joint name="joint5" value="${pi/24.0}" />
			<joint name="joint6" value="0" />
		</group_state>

		<group_state name="parked" group="rebel_arm">
			<joint name="joint1" value="${-42.0 * pi / 180.0}" />
			<joint name="joint2" value="${40.0 * pi / 180.0}" />
			<joint name="joint3" value="${73.0 * pi / 180.0}" />
			<joint name="joint4" value="${82.0 * pi / 180.0}" />
			<joint name="joint5" value="${-78.0 * pi / 180.0}" />
			<joint name="joint6" value="${-95.0 * pi / 180.0}" />
		</group_state>

		<group_state name="stand" group="rebel_arm">
			<joint name="joint1" value="${61.0 * pi / 180.0}" />
			<joint name="joint2" value="${-90.0 * pi / 180.0}" />
			<joint name="joint3" value="${36.0 * pi / 180.0}" />
			<joint name="joint4" value="0" />
			<joint name="joint5" value="${95.0 * pi / 180.0}" />
			<joint name="joint6" value="${5.0 * pi / 180.0}" />
		</group_state>


		<!--############################################################################### -->
		<!-- 							Collisions 											-->
		<!--############################################################################### -->

		<!-- Default collision checks for base robot. This is the simplest configuration, that is
		always present. -->
		<disable_collisions link1="igus_rebel_base_link" link2="link_1" reason="Adjacent" />
		<disable_collisions link1="igus_rebel_base_link" link2="link_2" reason="Never" />
		<disable_collisions link1="link_1" link2="link_2" reason="Adjacent" />
		<disable_collisions link1="link_2" link2="link_5" reason="Adjacent" />
		<disable_collisions link1="link_2" link2="link_6" reason="Never" />
		<disable_collisions link1="link_2" link2="link_7" reason="Never" />
		<disable_collisions link1="link_2" link2="link_8" reason="Never" />
		<disable_collisions link1="link_5" link2="link_6" reason="Adjacent" />
		<disable_collisions link1="link_5" link2="link_7" reason="Never" />
		<disable_collisions link1="link_5" link2="link_8" reason="Never" />
		<disable_collisions link1="link_6" link2="link_7" reason="Adjacent" />
		<disable_collisions link1="link_6" link2="link_8" reason="Never" />
		<disable_collisions link1="link_7" link2="link_8" reason="Adjacent" /> <!-- 13 -->


		<!-- Collisions checks due to the presence of the scout base -->
		<xacro:if value="${load_base}">

			<!-- Default collision checks for base robot and scout. The collision between the scout
			and the mount are all enabled-->
			<disable_collisions link1="front_left_wheel_link" link2="front_right_wheel_link"
				reason="Never" />
			<disable_collisions link1="front_left_wheel_link" link2="igus_rebel_base_link"
				reason="Never" />
			<disable_collisions link1="front_left_wheel_link" link2="link_1" reason="Never" />
			<disable_collisions link1="front_left_wheel_link" link2="link_2" reason="Never" />
			<disable_collisions link1="front_left_wheel_link" link2="link_5" reason="Never" />
			<disable_collisions link1="front_left_wheel_link" link2="mobile_robot_base_link"
				reason="Adjacent" />
			<disable_collisions link1="front_left_wheel_link" link2="rear_left_wheel_link"
				reason="Never" />
			<disable_collisions link1="front_left_wheel_link" link2="rear_right_wheel_link"
				reason="Never" />
			<disable_collisions link1="front_left_wheel_link" link2="tower_link" reason="Never" />
			<disable_collisions link1="front_right_wheel_link" link2="igus_rebel_base_link"
				reason="Never" />
			<disable_collisions link1="front_right_wheel_link" link2="link_1" reason="Never" />
			<disable_collisions link1="front_right_wheel_link" link2="link_2" reason="Never" />
			<disable_collisions link1="front_right_wheel_link" link2="link_5" reason="Never" />
			<disable_collisions link1="front_right_wheel_link" link2="mobile_robot_base_link"
				reason="Adjacent" />
			<disable_collisions link1="front_right_wheel_link" link2="rear_left_wheel_link"
				reason="Never" />
			<disable_collisions link1="front_right_wheel_link" link2="rear_right_wheel_link"
				reason="Never" />
			<disable_collisions link1="front_right_wheel_link" link2="tower_link" reason="Never" />
			<disable_collisions link1="igus_rebel_base_link" link2="mobile_robot_base_link"
				reason="Adjacent" />
			<disable_collisions link1="igus_rebel_base_link" link2="rear_left_wheel_link"
				reason="Never" />
			<disable_collisions link1="igus_rebel_base_link" link2="rear_right_wheel_link"
				reason="Never" />
			<disable_collisions link1="igus_rebel_base_link" link2="tower_link" reason="Never" />
			<disable_collisions link1="link_1" link2="mobile_robot_base_link" reason="Never" />
			<disable_collisions link1="link_1" link2="rear_left_wheel_link" reason="Never" />
			<disable_collisions link1="link_1" link2="rear_right_wheel_link" reason="Never" />
			<disable_collisions link1="link_1" link2="tower_link" reason="Never" />
			<disable_collisions link1="link_2" link2="mobile_robot_base_link" reason="Never" />
			<disable_collisions link1="link_2" link2="rear_left_wheel_link" reason="Never" />
			<disable_collisions link1="link_2" link2="rear_right_wheel_link" reason="Never" />
			<disable_collisions link1="mobile_robot_base_link" link2="rear_left_wheel_link"
				reason="Adjacent" />
			<disable_collisions link1="mobile_robot_base_link" link2="rear_right_wheel_link"
				reason="Adjacent" />
			<disable_collisions link1="mobile_robot_base_link" link2="tower_link" reason="Adjacent" />
			<disable_collisions link1="rear_left_wheel_link" link2="rear_right_wheel_link"
				reason="Never" />
			<disable_collisions link1="rear_left_wheel_link" link2="tower_link" reason="Never" />
			<disable_collisions link1="rear_right_wheel_link" link2="tower_link" reason="Never" />

		</xacro:if>


		<!-- Collision checks due to the presence of the mount -->
		<xacro:if value="${mount == 'mount_v1'}">

			<disable_collisions link1="link_5" link2="camera_mount" reason="Never" />
			<disable_collisions link1="link_6" link2="camera_mount" reason="Never" />
			<disable_collisions link1="link_7" link2="camera_mount" reason="Never" />
			<disable_collisions link1="link_8" link2="camera_mount" reason="Adjacent" />

			<xacro:if value="${camera == 'oakd' and end_effector == 'none'}">

				<disable_collisions link1="camera_mount" link2="camera_link" reason="Adjacent" />
				<disable_collisions link1="link_5" link2="camera_link" reason="Never" />
				<disable_collisions link1="link_6" link2="camera_link" reason="Never" />
				<disable_collisions link1="link_7" link2="camera_link" reason="Never" />
				<disable_collisions link1="link_8" link2="camera_link" reason="Never" />

			</xacro:if>

			<xacro:if value="${camera == 'realsense' and end_effector == 'none'}">

				<disable_collisions link1="camera_mount" link2="camera_link" reason="Adjacent" />
				<disable_collisions link1="camera_link" link2="camera_usb_plug_link"
					reason="Adjacent" />
				<disable_collisions link1="camera_mount" link2="camera_usb_plug_link" reason="Never" />
				<disable_collisions link1="link_5" link2="camera_link" reason="Never" />
				<disable_collisions link1="link_5" link2="camera_usb_plug_link" reason="Never" />
				<disable_collisions link1="link_6" link2="camera_link" reason="Never" />
				<disable_collisions link1="link_6" link2="camera_usb_plug_link" reason="Never" />
				<disable_collisions link1="link_7" link2="camera_link" reason="Never" />
				<disable_collisions link1="link_7" link2="camera_usb_plug_link" reason="Never" />
				<disable_collisions link1="link_8" link2="camera_link" reason="Never" />
				<disable_collisions link1="link_8" link2="camera_usb_plug_link" reason="Never" />

			</xacro:if>

			<xacro:if value="${camera == 'none' and end_effector == 'toucher_v1'}">

				<disable_collisions link1="camera_mount" link2="toucher_v1" reason="Adjacent" />
				<disable_collisions link1="link_2" link2="toucher_v1" reason="Never" />
				<disable_collisions link1="link_5" link2="toucher_v1" reason="Never" />
				<disable_collisions link1="link_6" link2="toucher_v1" reason="Never" />
				<disable_collisions link1="link_7" link2="toucher_v1" reason="Never" />
				<disable_collisions link1="link_8" link2="toucher_v1" reason="Default" />

			</xacro:if>

			<xacro:if value="${camera == 'oakd' and end_effector == 'toucher_v1'}">

				<disable_collisions link1="camera_mount" link2="camera_link" reason="Adjacent" />
				<disable_collisions link1="link_5" link2="camera_link" reason="Never" />
				<disable_collisions link1="link_6" link2="camera_link" reason="Never" />
				<disable_collisions link1="link_7" link2="camera_link" reason="Never" />
				<disable_collisions link1="link_8" link2="camera_link" reason="Never" />
				<disable_collisions link1="camera_mount" link2="toucher_v1" reason="Adjacent" />
				<disable_collisions link1="link_2" link2="toucher_v1" reason="Never" />
				<disable_collisions link1="link_5" link2="toucher_v1" reason="Never" />
				<disable_collisions link1="link_6" link2="toucher_v1" reason="Never" />
				<disable_collisions link1="link_7" link2="toucher_v1" reason="Never" />
				<disable_collisions link1="link_8" link2="toucher_v1" reason="Default" />
				<disable_collisions link1="camera_link" link2="toucher_v1" reason="Never" />

			</xacro:if>

			<xacro:if value="${camera == 'realsense' and end_effector == 'toucher_v1'}">

				<disable_collisions link1="camera_mount" link2="camera_link" reason="Adjacent" />
				<disable_collisions link1="link_5" link2="camera_link" reason="Never" />
				<disable_collisions link1="link_6" link2="camera_link" reason="Never" />
				<disable_collisions link1="link_7" link2="camera_link" reason="Never" />
				<disable_collisions link1="link_8" link2="camera_link" reason="Never" />
				<disable_collisions link1="camera_mount" link2="toucher_v1" reason="Adjacent" />
				<disable_collisions link1="link_2" link2="toucher_v1" reason="Never" />
				<disable_collisions link1="link_5" link2="toucher_v1" reason="Never" />
				<disable_collisions link1="link_6" link2="toucher_v1" reason="Never" />
				<disable_collisions link1="link_7" link2="toucher_v1" reason="Never" />
				<disable_collisions link1="link_8" link2="toucher_v1" reason="Default" />
				<disable_collisions link1="camera_link" link2="toucher_v1" reason="Never" />
				<disable_collisions link1="camera_link" link2="camera_usb_plug_link"
					reason="Adjacent" />
				<disable_collisions link1="camera_mount" link2="camera_usb_plug_link" reason="Never" />
				<disable_collisions link1="link_5" link2="camera_usb_plug_link" reason="Never" />
				<disable_collisions link1="link_6" link2="camera_usb_plug_link" reason="Never" />
				<disable_collisions link1="link_7" link2="camera_usb_plug_link" reason="Never" />
				<disable_collisions link1="link_8" link2="camera_usb_plug_link" reason="Never" />
				<disable_collisions link1="toucher_v1" link2="camera_usb_plug_link"
					reason="Never" />

			</xacro:if>

		</xacro:if>

	</xacro:macro>


	<!-- Call the macro and define the arguments -->
	<xacro:srdf mount="$(arg mount)" camera="$(arg camera)" end_effector="$(arg end_effector)"
		load_base="$(arg load_base)" />


</robot>